<nav class="navbar navbar-expand-lg container-fluid">
  <div class="container">

    <a class="navbar-brand text-white fw-bolder" routerLink="/products">StyleHub</a>

    <div class="d-flex float-end">
      <a routerLink="/auth/login" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"> <i class="bi bi-person-fill m-1 me-md-2"></i><p class="d-none d-md-block mb-0">login</p> </a>
      <a routerLink="/Wishlist" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"> <i class="bi bi-heart-fill m-1 me-md-2"></i><p class="d-none d-md-block mb-0">Wishlist</p> </a>
      <a routerLink="/cart" class="border rounded py-1 px-3 nav-link d-flex align-items-center"> <i class="bi bi-cart-fill m-1 me-md-2"></i><p class="d-none d-md-block mb-0">My cart</p> </a>
    </div>

  </div>
</nav>
