<nav class="navbar navbar-expand-lg container-fluid">
  <div class="container">
    <a class="navbar-brand text-white">StyleHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav align-items-center">
        <a class="nav-link text-white me-5" routerLink="/products" routerLinkActive="router-link-active" >Products</a>
        <a class="nav-link text-white me-5" routerLink="/cart" routerLinkActive="router-link-active" >Cart</a>
        <a class="nav-link text-white me-5" routerLink="/login" routerLinkActive="router-link-active" >login</a>
      </div>
    </div>
  </div>
</nav>
