/* You can add global styles to this file, and also import other style files */
/*
import bootstrap-icons*/
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --main-color: #9c1212;
  --secondary-color: #220486;
  --background-color: #b7b7b7;
}


body {
  margin: 0;
  padding: 0%;
  background-color: #eaebf0;
}

