<div class="card" style="cursor:pointer;"  routerLink="/details/{{product.id}}">
  <img src="{{product.image}}" class="card-img-top" style="height: 250px;" alt="{{product.title}}" >
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <div  class="description">
      <p class="text-muted">{{product.description}}</p>
    </div>
    <div class="mt-3">
      <span class="badge bg-primary font-monospace fs-6">Price :  {{product.price}} L.E</span>
    </div>
  </div>
</div>
